In [1]:
!python -m pip install --upgrade pip

Requirement already satisfied: pip in /opt/conda/lib/python3.11/site-packages (24.0)

In [2]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.11/site-packages (2.1.1)
Requirement already satisfied: numpy>=1.23.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (1.24.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/conda/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in /opt/conda/lib/python3.11/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/conda/lib/python3.11/site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [4]:
from sqlalchemy import create_engine, MetaData

con_str = "postgresql+psycopg2://user:password@postgres:5432/datascience"
engine = create_engine(con_str)
conn = engine.connect()
conn

In [5]:
def list_table():
    # Create an engine
    engine = create_engine(con_str)
    
    # Create a MetaData object
    metadata = MetaData()
    
    # Reflect the tables from the database
    metadata.reflect(bind=engine)
    
    # Print the names of all tables
    print("Tables in the database:")
    for table in metadata.tables.values():
        print(table.name)

list_table()

Tables in the database:
my_table
my_table2
career_current
residential

In [6]:
import pandas as pd
df = pd.DataFrame(
    {
        'col1':[1,2,3],
        'col2':[4,5,6]
    }
)
df

   col1  col2
0     1     4
1     2     5
2     3     6

In [7]:
#df.to_sql(name = 'my_table', con=con_str)

In [8]:
list_table()

Tables in the database:
my_table
my_table2
career_current
residential